<!-- <cdk-virtual-scroll-viewport itemSize="50" class="list">
  <div *cdkVirtualFor="let item of items; let index = index" class="item">
    <div>
      <div
        type="button"
        (click)="showMarkDownEditor($event)"
        *ngIf="!isShowedList[index]; else isShowed"
      >
        {{ item }}
      </div>
      <ng-template #isShowed>
        <quill-editor
          *ngIf="showMarkDownEditor"
          [styles]="{ height: '50px' }"
        ></quill-editor>
      </ng-template>
    </div>
    <div type="button" (click)="hideMarkDownEditor($event)">
      {{ item }}
    </div>
  </div>
</cdk-virtual-scroll-viewport> -->

<nav>
  <button
    type="button"
    (click)="switchScreen('screen1')"
    class="btn"
    [ngClass]="{ active: activeScreen === 'screen1' }"
  >
    Screen 1
  </button>
  <button
    type="button"
    (click)="switchScreen('screen2')"
    class="btn"
    [ngClass]="{ active: activeScreen === 'screen2' }"
  >
    Screen 2
  </button>
</nav>

<app-screen1 *ngIf="showScreen1"></app-screen1>
<app-screen2
  *ngIf="showScreen2"
  (submitEvent)="switchScreen('screen1')"
></app-screen2>
